<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.My_Insurance" />
        <activity android:name=".ui.activity.MyAppointments" />
        <activity android:name=".ui.activity.MyMedicines" />
        <activity android:name=".ui.activity.My_Measurements" />
        <activity android:name=".ui.activity.InsuranceEdit" />
        <activity android:name=".ui.activity.EditAppointments" />
        <activity android:name=".ui.activity.MeasurementsEdit" />
        <activity android:name=".ui.activity.EditMedicines" />
        <activity android:name=".ui.activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.LoginScreen" />
        <activity android:name=".ui.activity.SignUp" />
        <activity android:name=".ui.activity.EditProfile" />
        <activity android:name=".ui.activity.ChangePassword" />
        <activity android:name=".ui.activity.MyDiseases" />
        <activity android:name=".ui.activity.MyDocuments"/>
        <activity android:name=".ui.activity.EditDocument"/>
        <activity android:name=".ui.activity.EditDoctor"/>
        <activity android:name=".ui.activity.MyDoctor"/>
        <activity android:name=".ui.activity.MedicineDetail"/>
        <activity android:name=".ui.activity.ProcedureDetail"/>
        <activity android:name=".ui.activity.DiseaseDetail"/>
        <activity android:name=".ui.activity.DoctorDetail"/>
        <activity android:name=".ui.activity.EditDiseases"></activity>
    </application>

</manifest>